/* --- Material Font --- */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/material-font.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

/* --- Layout --- */
main {
  padding: 1em;
}


/* --- Cards --- */
.mdl-card {
  width: 100%;
  max-width: 60em;
  min-height: auto;
}

.fielddef {
  margin-bottom: 0.5em;
}

.fielddef-title {
  font-size: 3em;
  line-height: 1.5em;
}

.fielddef-title .field-title {
  display: none;
}

.fielddef-long {

}

.fielddef-short .field-title,
.fielddef-short .field-content {
  display: inline;
}

.field-title {
  font-weight: bold;
}

.field-title::after {
  content: ":"
}
