<h1>Einstellungen</h1>

{{#each model as |liste|}}
	eine liste! {{liste.name}}<br>
{{/each}}

<button onclick={{action "addentry"}} >nochwas</button>


<input type="file" onchange={{action "handleFiles"}} accept=".csv" />

{{outlet}}
